spring:
  datasource:
    url: jdbc:postgresql://db.ojxrfsvfjsjfjkkxrtav.supabase.co:5432/postgres
    username: postgres
    password: xGixZ7GpKBp7mwP9
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true

server:
  port: 8080

# Application config
ticketing:
  hold-duration-seconds: 120  # 2-minute hold window
