spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ticketing_db
    username: ticketing
    password: ticketing123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080

# Application config
ticketing:
  hold-duration-seconds: 120  # 2-minute hold window
